/* ********** GLOBAL ****************** */
html {
  background: #fff;
  color: #111;
}
body {
  padding: 2%;
  font-size: 0.9em;
  background: #fff;
  color: #111;
}

section {
  margin: 2em 0 0 0;
  padding: 2em 0 0 0;
  border-top: 1px solid #bebebe;
}

h1,
h2,
h3 {margin-top: 0;}


/* ********** BUTTONS ****************** */

button[disabled] {display: none;}
.button-success,
.button-error {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {background: rgb(28, 184, 65);}
.button-error {background: rgb(202, 60, 60);}

.button-small {font-size: 85%;}


/* ********** HEADER ****************** */

header {
  text-align: center;
}
  header img {
    display: block;
    margin: 1em auto;
  }


/* ********** MENU ****************** */

#menu {
  text-align: center;
}
#menu button {}


/* ********** INFOS ****************** */

dt,
dd {}
dt {
  float:left;
  margin-right: 0.5em;
  font-weight: bold;
}



/* ********** DEBUG ****************** */

#debug {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#debug button {float:right;}

#debug pre {
  clear: both;
  background: #e4e4e4;
  border: 1px solid #bebebe;
  padding: 1em;
  margin-top: 1em;
  font-size: 0.8em;
}

